.wrapper {
    margin: 15px auto;
    padding: 15px;
}

.chart {
    height: 25vh;
}

#main-row {
    height: 100vh;
    padding-top: 55px;
}

#left-col {
    padding: 0;
}

#right-col {
    overflow: auto;
}
